@import "_colors.css";
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  min-width: 375px;
  min-height: 667px;
  max-width: 100 vw;
}

.grid-layout {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  height: 100vh;
  margin: 0px;
}

.header {
  background-color: var(--color-primary);
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-around;
}

.main-layout {
  grid-row: 2 / 3;
  background-color: var(--color-background);
}

.footer {
  grid-row: 3 / 4;
  background-color: var(--color-primary);
}

.select-box {
  height: 20px;
}

.search-button {
  border-radius: 20px;
  margin: 20px;
  height: 40px;
  border: black solid;
}

.logo {
  margin-top: 10px;
  margin-right: 40px;
}

.filter_search_box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: ;
}

.search_field {
  height: 20px;
  border-radius: 5px;
  padding: 5px;
  border: none;
}

.characters {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  background-color: wheat;
}
